<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title> Tab 3 </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <img src="https://avatars.githubusercontent.com/u/82477172?s=400&u=d6f8503ac2956c380778805f2db9410fa7d8f6f2&v=4" alt="" />

    <ion-text color="warning">
        <h1>Alexandro Tadeu Marhias de Souza</h1>
    </ion-text>

    <ion-text color="medium">
        <p>Professor da Etec de Poá - SP</p>
    </ion-text>

    <ion-text color="dark">
        <a href="maito:alexandro.tadeu@etec.sp.gov.br">alexandro.adeu@etec.sp.gov.br</a
    >
  </ion-text>
</ion-content>
